# Ignore exectuables
*

# Files with extensions and folders are kept
!*.*
!*/

# Except object files and hidden files
*.o
.*

# except .gitignore, .gitmodules and Makefiles
!.gitignore
!.gitmodules
!Makefile